html { 
  background: url(img/salad-1672505_1920.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	font: 12px Verdana;
}

div {
	position: absolute;
	margin: auto;
	top: 0px;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	width: 400px;
  	height: 220px;
  	background: rgba(255, 255, 255, 0.7);
  	border-radius: 10px;
  	text-align: center;}

h1 {
	padding-top: 15px;
  color: #385307;
}

a {
	font-size: 14px;
	font-weight: bold;
  color: #385307;
  text-decoration: none;
}

a:hover {
    color: #a13d1e;
}
